/* Created by: Mohammed El-Hayek
* Created on: Feb 2024
* This file contains the CSS for index.html
*/


body {
  background-color: blanchedalmond;
}


h1 {
  background-color: rgb(181 240 61);
  color: rgb(18 168 75);
  padding: 40px;
  text-align: center;
}


p {
  background-color: brown;
}
